/* Mini reset*/
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;   /* las medidas de las cajas toman como referencia el borde*/

}

html{
    font-size: 0.625em; /* equivale a 10 pixels, afecta a todooooo */
}

body{
    overflow-x: hidden; /*poner siempre en el body, lo que se escape del body horizontalmente lo esconde*/
}


ul,ol{
    list-style-type: none;/*  none ninguna filigrana antes del texto */
   
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
font-weight: normal;
}


/*  Fin Mini reset */

body{
    background-image: url(/img/indiana.png);

}



main{
    max-width: 1200px;
    margin: 0 auto;
    z-index: -1;
    background-image: url(/img/textura.jpg);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.445);
}
/* ***********************************
ENTRADA*/
 

#imagenEntrada{
    position: relative;
}

#logo{
    /* Placing the logo absolutely and with percentage values makes it responsive within the bounding box */
    position: absolute;
    bottom: 0;   
    left: 42.5%;
    width: 15%;
    height: auto;
}


#navegacionEntrada ul{
    position: absolute;
    top:5%;
    right:2%;
    height: auto;
    display: flex;
}

#navegacionEntrada li{
padding-right:15px;
}



/* **********************************************************************
  MENÚ
 */


#menuPrincipal{
   max-width: 1200px;
   position:sticky;
   top: 0;
   z-index: 100;
   background-image: url(/img/textura.jpg);

  
}


#menuPrincipal ul{
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding:1% 5%;
    margin: 3% 0;
    text-align: center;
    align-items: baseline;
    
    
 

    
}
#menuPrincipal ul li:nth-of-type(4){
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: brown;

}



#titularMenu{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    text-transform:uppercase;
    line-height: 1.2;
    font-size: 55px;
    padding: 0px 5% 5%;
    
}


/* ********************************* */
/* PASA FOTOS
 */


#contenedorPasafotos{
    max-width: 1200px;
    display: flex;
    justify-content:center;
    position: relative;
}



#pasa1, #pasa2,#pasa3{
    width: 30%;
    text-align: center;
    position: relative;

}

#contenedorPasaFotos img {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
}

.cuadradito{
    width: 20px;
    height: 20px;
    transform: rotateZ(45deg);
    background-color:rgb(71, 57, 30);
    position: absolute;
    left:47%;
    top: -10px;;
}

#pasa2 .cuadradito{
    background-color:rgb(128, 58, 56);
}

#pasa3 .cuadradito{
    background-color:rgb(141, 116, 73);
}

#contenedorPasafotos h3{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    line-height: 1;
}

#contenedorPasafotos p{
font-family: 'Josefin Sans', sans-serif;
font-size: 12px;
line-height: 1.5;
margin-top: 6%;
padding: 0 10%;
}

#contenedorPasafotos #pasa1 h3{
    color:rgb(71, 57, 30);
}

#contenedorPasafotos #pasa2 h3{
    color:rgb(128, 58, 56);
}

#contenedorPasafotos #pasa3 h3{
    color:rgb(141, 116, 73);
}


/* ***************************
SEPARADOR UNO */


#separadorUno{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin:4% 0 2%;
}
#separadorUno .tradicio{
    position:absolute;
    bottom: 0%;
    left:43.7%; 
}
.tradicio{
    width: 13%;
    height: auto;
}



.titularSeparadores{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    text-transform:uppercase;
    line-height: 1.2;
    font-size: 50px;
    color: rgb(96, 118, 65);
    margin: 4% 0% 5%; 
    
}

/* ***************************
PRIMERA SECCIÓN */


#contPrimeraSeccion{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 5% 0 7%;
}
#contPrimeraSeccion>*{
    width: 33%;
    padding: 0 5%;
}

#contPrimeraSeccion article:nth-child(2){
    text-align: center;
    padding: 0%;
}

#contPrimeraSeccion h3{
    font-size: 40px;
    font-family: "Great Vibes";
    padding-bottom: 2%;
    color: rgb(98, 3, 41);
}

#contPrimeraSeccion p{
    font-size: 20px;
    font-family: "Josefin Slab";
    line-height: 1.6;
}


/* ***************************
SEPARADOR DOS */

#separadorDos{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin:4% 0 2%;
}
.contenedorFoto{
     position: relative;
 }

#separadorDos .celler{
    position:absolute;
    bottom: 0%;
    left:43.5%; 
}
.celler{
    width: 13%;
    height: auto;
}

.titularSeparadoresDos{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    text-transform:uppercase;
    line-height: 1.2;
    font-size: 50px;
    color: rgb(128, 58, 56);
    margin: 4% 0% 5%; 
}


/* ***************************
RECETAS */

#contRecetas{
    display: flex;
    justify-content: center;
    max-width: 1200px;
}
#contRecetas>*{
    width: 50%;
    padding: 0% 5% 5%;
}

#contRecetas h4{
    font-size: 18px;
    font-family: 'Josefin Slab', sans-serif;
    padding-bottom: 2%;
    color: black;
    font-weight:700;
}
#contRecetas h3{
    font-size: 40px;
    font-family: "Great Vibes";
    padding-bottom: 2%;
    color: rgb(98, 3, 41);
}

#contRecetas p{
    font-size: 20px;
    font-family: 'Josefin Slab', sans-serif;
    line-height: 1.6;
}