/* Mini reset*/
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;   /* las medidas de las cajas toman como referencia el borde*/

}

html{
    font-size: 0.625em; /* equivale a 10 pixels, afecta a todooooo */
}

body{
    overflow-x: hidden; /*poner siempre en el body, lo que se escape del body horizontalmente lo esconde*/
}


ul,ol{
    list-style-type: none;/*  none ninguna filigrana antes del texto */
    display:flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
font-weight: normal;
}


/*  Fin Mini reset */



#cuerpo{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#contPrimeraSeccion{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    border: 1px solid black;
}
#contPrimeraSeccion>*{
    width: 33%;
    padding: 20px 20px;
    border: 1px solid black;
}

#contPrimeraSeccion h3{
    font-size: 40px;
    font-family: "Great Vibes";
    padding-bottom: 2%;
    color: rgb(98, 3, 41);
}

#contPrimeraSeccion p{
    font-size: 20px;
    font-family: "Josefin Slab";
    line-height: 1.6;
}