/* Mini reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* las medidas de las cajas toman como referencia el borde*/
}

html {
  font-size: 0.625em; /* equivale a 10 pixels, afecta a todooooo */
}

body {
  overflow-x: hidden; /*poner siempre en el body, lo que se escape del body horizontalmente lo esconde*/
}

ul,
ol {
  list-style-type: none; /*  none ninguna filigrana antes del texto */
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*  Fin Mini reset */

body {
  background-image: url(../img/indiana.png);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  z-index: -1;
  background-image: url(../img/textura.jpg);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.445);
}
/* ***********************************
ENTRADA*/

#contenedor{
  display: flex;
  flex-wrap:wrap;
  height: 50vh;
  align-content: flex-start;
  position: relative;

}

.cuadrado{
  width: 50%;
  height: 50px;
  background-color: aquamarine;
  border: 1px black solid;
  text-align: center;
padding-top: 20px;
}

img{
  position: absolute;
  z-index: -1;
}