/* Mini reset*/
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;   /* las medidas de las cajas toman como referencia el borde*/

}

html{
    font-size: 0.625em; /* equivale a 10 pixels, afecta a todooooo */
}

body{
    overflow-x: hidden; /*poner siempre en el body, lo que se escape del body horizontalmente lo esconde*/
}


ul,ol{
    list-style-type: none;/*  none ninguna filigrana antes del texto */
    display:flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
font-weight: normal;
}


/*  Fin Mini reset */

#contenedorGeneralMenu{
    display: flex;
    justify-content: space-around;
    position:sticky;
    top: 0;
    z-index: 100;
  
}

#menu{
   width: 1200px;
  
}


#menu ul{
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding:40px 0;
    text-align: center;
    align-items: baseline;
    
 

    background-color: rgb(255, 255, 255);
    
}
#menu ul li:nth-of-type(4){
    font-family: 'Great Vibes', cursive;
    font-size: 30px;

}

